body {
  margin: 0 1em;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: 'Amatic SC', sans-serif
}

header {
  border-bottom: 2px solid #c0c0c0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

header > .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

header > .title img {
  height: 150px;
  margin-right: 10px;
}

form#search {
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

form#search input {
  border: none;
  background-color: transparent;
  padding: 5px;
  font-size: 1em;
  width: 100%;
}

form#search button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

form#search img {
  height: 20px;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1em;

  border: 2px solid #000000;
  border-radius: 6px;
  padding: 20px;

  max-width: 800px;
  margin: 0 auto;
}

section img {
  max-width: 400px;
  height: auto;
  margin-right: 20px;
}

.recipe-tags > span {
  display: inline-block;
  background-color: #e5e5e5;
  color: #000000;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1.5em;
}

.recipe-content h2 {
  font-size: 4em;
  font-weight: 700;
  color: #099add;
  margin: 0;
}

.recipe-content > p {
  display: none;
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social img {
  height: 2em;
}

@media screen and (min-width: 1024px) {
  section {
    flex-direction: row;
  }

  .recipe-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  section img {
    width: 50%;
    height: auto;
  }

  .recipe-content > p {
    display: block;
  }
}