* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  max-width: 1280px;
  margin: auto;
  padding: 1em;
}

img {
  max-width: 100%;
}

.main-nav {
  list-style-type: none;
}

hr {
  margin-top: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1em;
}

section.media-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.media-card-content {
  max-width: 20em;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

@media screen and (min-width: 1024px) {
  .gallery > section {
    width: calc(50% - 1em);
  }

  section.media-card {
    flex-wrap: nowrap;
  }
}
